a:link {
	font-size: 30px;
    color: black;
    text-align: left;
    text-decoration: none;
}

a:visited {
	font-size: 30px;
    color: white;
    text-align: left;
    text-decoration: none;
}

a:hover {
	font-size: 30px;
    color: white;
    text-align: lfet;
    text-decoration: none;
}

a:active {
	font-size: 30px;
}